{% extends 'layouts/admin/app.html' %}
{% load static %}

{% block contenido %}
  <div class="container">
      <div class="row">
        {% include 'partials/_back.html' with url='/administrador/usuario' name='Crear asistencia' %}
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="user" class="form-label">Usuario</label>
                  <input type="text" class="form-control" id="user" name="user" required/>
                </div>
                <div class="form-group mb-3">
                  <label for="tipo" class="form-label">Rol</label>
                  <select class="custom-select form-select" name="tipo" id="tipo" required>
                      <option value="admin">Admin</option>
                      <option value="estudiante">Estudiante</option>
                      <option value="admin">Profesor</option>
                      <option value="estudiante">Director y coordinador</option>
                  </select>
              </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
