{% extends 'layouts/normal/base.html' %}
{% load static %}

{% block css %}

<style>

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }
  

  body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }

  .carousel {
    margin-bottom: 4rem;
  }

  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }


  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }


  .featurette-divider {
    margin: 5rem 0; 
  }

  .featurette-heading {
    font-weight: 300;
    line-height: 1;

    letter-spacing: -.05rem;
  }

  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }

    .featurette-heading {
      font-size: 50px;
    }
  }

  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  
</style>
    

{% endblock %}

{% block contenido %}

<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://t9003039734.p.clickup-attachments.com/t9003039734/ea205aeb-a142-49ee-a7c9-555112fa3c66/JUSTIFACIL3-LOGO.png" width="200" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>
      </ul>
      
      <form class="d-flex" role="search">
        <a type="button" class="btn btn-sm btn-warning" href="{% url 'login' %}">¿Tienes Cuenta?</a>
      </form>
    </div>
  </div>
</nav>

<br><br>
<div class="container"> 
    
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/fondo-cifras.jpg' %}" class="d-block w-100" alt="...">

        <div class="container">
          <div class="carousel-caption text-start">
            <p><a class="btn btn-lg btn-primary" href="#">¿Quienes Somos?</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/imagen6.jpg' %}" class="d-block w-100" alt="...">

        <div class="container">
          <div class="carousel-caption">
            <p><a class="btn btn-lg btn-primary" href="#">Justificativos</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/imagen8.jpeg' %}" class="d-block w-100" alt="...">

        <div class="container">
          <div class="carousel-caption text-end">
            <p><a class="btn btn-lg btn-primary" href="#">Registrate</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <img src="{% static 'img/nicochad.png' %}" class="bd-placeholder-img rounded-circle" width="140" height="140" aria-label="Placeholder: 140x140">

        <h2>Nicolas Cares</h2>
        <p>“Lo poco que he aprendido carece de valor, comparado con lo que ignoro y no desespero en aprender”</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img src="{% static 'img/nexaco.png' %}" class="bd-placeholder-img rounded-circle" width="140" height="140" aria-label="Placeholder: 140x140">
        <h2>NexaCode</h2>
        <p>aspiramos a liderar la revolución digital en diversas industrias, presentando soluciones vanguardistas para optimizar operativas y elevar la experiencia del cliente.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img src="{% static 'img/20231004_143430.jpg' %}" class="bd-placeholder-img rounded-circle" width="140" height="140" aria-label="Placeholder: 140x140">
        <h2>Richard Tejos</h2>
        <p>“El mayor enemigo del conocimiento no es la ignorancia, sino la ilusión del conocimiento”</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Reglamento de inasistencias <span class="text-muted"></span></h2>
        <p class="lead">"El reglamento estudiantil es indispensable para brindar y orientar las acciones relacionadas con los derechos y deberes como estudiante, así como regular los procesos, acciones y relación entre estudiantes, docentes y administrativos con el propósito de ofrecer educación integral y de calidad a todos."</p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'img/justi.jpg' %}" alt="Tu descripción" width="500" height="500">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{% static 'img/justi.jpg' %}" alt="Tu descripción" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'img/justi.jpg' %}" alt="Tu descripción" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

  </div>
</div>
<br><br>
  
  


{% endblock %}
