{% extends 'layouts/admin/app.html' %}
{% load static %}

{% block contenido %}
  <div class="container">
      <div class="row">
        {% include 'partials/_back.html' with url='/administrador/inasistencia' name='Crear asistencia' %}
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="descripcion" class="form-label">Descripcion</label>
                  <input type="text" class="form-control" id="descripcion" name="descripcion" required/>
                </div>
                <div class="mb-3">
                  <label for="imagen" class="form-label">Evidencia</label>
                  <input type="file" class="form-control" id="imagen" name="imagen" required/>
                </div>
                <div class="mb-3">
                  <label for="fecha" class="form-label">fecha</label>
                  <input type="date" class="form-control" id="fecha" name="fecha" required/>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
