{% extends 'layouts/admin/app.html' %}
{% load static %}

{% block contenido %}
  <div class="container">
      <div class="row">
        {% include 'partials/_back.html' with url='/administrador/inasistencia' name='Editar inasistencia' %}
        <div class="col-md-6">
            <div class="card">
                <form action="{% url 'admin_edit_inasistencia' id=inasistencia.id %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripcion</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" required/>
                  </div>
                  <div class="mb-3">
                    <label for="estado" class="form-label">Estado</label>
                    <input type="text" class="form-control" id="estado" name="estado" required/>
                  </div>
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
      </div>
    </div>
{% endblock %}