{% extends 'layouts/normal/base.html' %}
{% load static %}

{% block css %}
    <style>
        body {
            background-image: url("{% static 'img/biblioteca.jpeg' %}");
            background-size: cover; /* Para que la imagen cubra todo el fondo */
            background-repeat: no-repeat; /* Evita que la imagen se repita */
        }
    </style>
{% endblock %}

{% block contenido %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="https://t9003039734.p.clickup-attachments.com/t9003039734/ea205aeb-a142-49ee-a7c9-555112fa3c66/JUSTIFACIL3-LOGO.png" width="200" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 mt-5">
            <div class="card">
                <div class="card-body">
                <p class="fw-light text-center">
                    Registro de usuarios <br>  <strong>📚 JustiFacil 📚</strong> 
                </p>
                <form action="{% url 'registrar' %}" method="POST">
                    {% csrf_token %}

                    {% if error %}
                        <small class="text-danger">{{ error }}</small>
                    {% endif %}

                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="nombre" required>
                        <small class="text-danger" id="nombre-error"></small>
                    </div>

                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" name="apellido" id="apellido" required>
                        <small class="text-danger" id="apellido-error"></small>
                    </div>

                    <div class="mb-3">
                        <label for="usuario" class="form-label">Usuario</label>
                        <input type="text" class="form-control" name="usuario" id="usuario" required>
                        <small class="text-danger" id="usuario-error"></small>
                    </div>

                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo</label>
                        <input type="text" class="form-control" name="correo" id="correo" required>
                        <small class="text-danger" id="correo-error"></small>
                    </div>

                    <div class="mb-3">
                        <label for="pass" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" name="pass" id="pass" required>
                        <small class="text-danger" id="pass-error"></small>
                    </div>

                    
                    <div class="form-group mb-3">
                        <label for="tipo" class="form-label">Tipo</label>
                        <select class="custom-select form-select" name="tipo" id="tipo" required>
                            <option value="admin">Admin</option>
                            <option value="estudiante">Estudiante</option>
                            <option value="admin">Profesor</option>
                            <option value="estudiante">Director y coordinador</option>
                        </select>
                    </div>
            
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success"><strong>Guardar</strong></button>
                        
                        <a href="{% url 'login' %}" class="text-center mt-3">Volver</a>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    